In [4]:
SELECT szh.TIPUS, COUNT(ROUND(FOGLALAS_PK,2))
FROM Foglalas f JOIN Szoba sz ON sz.SZOBA_ID=f.SZOBA_FK
                JOIN Szallashely szh ON szh.SZALLAS_ID=sz.SZALLAS_FK
GROUP BY szh.TIPUS
HAVING COUNT(ROUND(FOGLALAS_PK,2))<500

SZOBA_ID,(No column name),(No column name)
58,2016,12

In [ ]:
SELECT SZOBA_ID, YEAR(METTOL), COUNT(F.FOGLALAS_PK)
FROM Szoba sz JOIN Foglalas f ON sz.SZOBA_ID=f.SZOBA_FK
GROUP BY YEAR(METTOL), sz.SZOBA_ID
HAVING COUNT(f.FOGLALAS_PK)>10
EXCEPT
SELECT SZOBA_ID, YEAR(METTOL), COUNT(F.FOGLALAS_PK)
FROM Szoba sz JOIN Foglalas f ON sz.SZOBA_ID=f.SZOBA_FK
GROUP BY YEAR(METTOL), sz.SZOBA_ID
HAVING COUNT(f.FOGLALAS_PK)%2=0